In [2]:
conjunto = set()
conjunto = {1,2,3,4, 'hi', 4,3,2,1, -5, 5, 'a'}
conjunto

{-5, 1, 2, 3, 4, 5, 'a', 'hi'}

In [3]:
conjunto.add(-4) # No son ordenadas
conjunto

{-4, -5, 1, 2, 3, 4, 5, 'a', 'hi'}

In [4]:
-4 in conjunto

True

In [5]:
-4 not in conjunto

False

In [6]:
list1 = [1,2,3,4,4,3,2,1] 
conj1 = set(list1) # Valores únicos!!!
conj1

{1, 2, 3, 4}

In [7]:
list2 = list(conj1)
list2

[1, 2, 3, 4]

In [8]:
s = "Al pan pan y al vino vino" # De nuevo, son valores únicos!!!
cj = set(s)
cj

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}

In [9]:
#set no soporta append, index, count

In [11]:
cj.discard(' ')
cj

{'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}

In [12]:
c = cj.copy()

In [13]:
c1={1,2,3}
c2={3,4,5}
c3={-1,99}
c4={1,2,3,4,5}

In [14]:
c1.isdisjoint(c2)

False

In [15]:
c1.isdisjoint(c3)

True

In [16]:
c1.issubset(c4)

True

In [17]:
c3.issubset(c4)

False

In [18]:
c4.issuperset(c1)

True

In [19]:
c1.union(c2)

{1, 2, 3, 4, 5}

In [20]:
c1.update(c2)
c1

{1, 2, 3, 4, 5}

In [21]:
c1={1,2,3}
c2={3,4,5}
c3={-1,99}
c4={1,2,3,4,5}

In [22]:
c1.difference(c2)

{1, 2}

In [23]:
c1.difference_update(c2)
c1

{1, 2}

In [24]:
c1={1,2,3}
c2={3,4,5}
c3={-1,99}
c4={1,2,3,4,5}

In [25]:
c1.intersection(c2)

{3}

In [26]:
c1.intersection_update(c2)
c1

{3}

In [27]:
c1={1,2,3}
c2={3,4,5}
c3={-1,99}
c4={1,2,3,4,5}

In [28]:
c1.symmetric_difference(c2)

{1, 2, 4, 5}

In [29]:
s="CESAR"
set(s)

{'A', 'C', 'E', 'R', 'S'}

In [34]:
cod=123142536
set(str(cod))

{'1', '2', '3', '4', '5', '6'}

In [35]:
sum( [int(x) for x in set(str(cod))] )

21