In [214]:
dict1 = {'name': 'python', 'points': 90}
dict1

{'name': 'python', 'points': 90}

In [215]:
dict2 = {'name': 'django', 'points': 80}
dict2

{'name': 'django', 'points': 80}

In [216]:
dict1['name']

'python'

In [217]:
dict1.get('name')

'python'

In [218]:
dict1['since'] #Raise an error if key doesn't exists

KeyError: 'since'

In [219]:
dict1.get('since') #Return none if key doesn't exists

In [220]:
dict1.get('since', 'none_default') #Return default value if key doesn't exists

'none_default'

In [221]:
'since' in dict1

False

In [222]:
'since' not in dict1

True

In [223]:
if 'since' in dict1:
    print("Yes, 'since' is one of the keys in the dictionary")
else:
    print("Nope, 'since' is none of the keys in the dictionary")

Nope, 'since' is none of the keys in the dictionary

# By the way, you canâ€™t treat a dictionary like a list

In [224]:
dict1['since'] = '2016'
dict1

{'name': 'python', 'points': 90, 'since': '2016'}

In [225]:
dict2['since'] = '2017'
dict2

{'name': 'django', 'points': 80, 'since': '2017'}

In [226]:
dict2['since'] = '2018'
dict2

{'name': 'django', 'points': 80, 'since': '2018'}

In [227]:
len(dict1)

3

In [228]:
list( dict1.keys() )

['name', 'points', 'since']

In [229]:
list( dict1.values() )

['python', 90, '2016']

In [230]:
list( dict1.items() )

[('name', 'python'), ('points', 90), ('since', '2016')]

In [231]:
for x in dict1:
    print(x)

name
points
since

In [232]:
for k in dict1.keys():
    print(k)

name
points
since

In [233]:
for x in dict1:
    print(dict1[x])

python
90
2016

In [234]:
for v in dict1.values():
    print(v)

python
90
2016

In [235]:
for itm in dict1.items():
    print(itm)

('name', 'python')
('points', 90)
('since', '2016')

In [236]:
for k, v in dict1.items():
    print(k, v)

name python
points 90
since 2016

In [237]:
dict3 = dict1.copy()
dict3

{'name': 'python', 'points': 90, 'since': '2016'}

In [238]:
dict3 = {}.fromkeys(['name', 'points', 'since'], 0)
dict3

{'name': 0, 'points': 0, 'since': 0}

In [239]:
dict3.clear()
dict3

{}

In [240]:
dict3= {}.fromkeys(['name', 'points', 'since', 'certified', 'projects'], 0)
dict3

{'name': 0, 'points': 0, 'since': 0, 'certified': 0, 'projects': 0}

In [241]:
dict3.pop('since')
dict3

{'name': 0, 'points': 0, 'certified': 0, 'projects': 0}

In [242]:
dict3.pop('since2')
dict3

KeyError: 'since2'

In [243]:
dict3.pop('since2', 'default_if_key_not_exist')

'default_if_key_not_exist'

In [244]:
dict3.popitem() # removes last item, but take care, before python 3.7 a random item is removed
dict3

{'name': 0, 'points': 0, 'certified': 0}

In [245]:
del dict3["points"]
dict3

{'name': 0, 'certified': 0}

In [246]:
dict3b = {'name':'scada', 'points':100, 'since':2010}
dict3.update(dict3b)
dict3

{'name': 'scada', 'certified': 0, 'points': 100, 'since': 2010}

In [247]:
squares = {x: x*x for x in range(11)} # Dictionary Comprehension
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [248]:
odd_squares = {x: x*x for x in range(11) if x % 2 == 1}
odd_squares

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [249]:
odd = { x: x % 2==1 for x in range(11) }
odd

{0: False,
 1: True,
 2: False,
 3: True,
 4: False,
 5: True,
 6: False,
 7: True,
 8: False,
 9: True,
 10: False}

In [250]:
all(odd)

False

In [251]:
any(odd)

True

In [252]:
sorted(odd, reverse=True)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [253]:
dict( map(lambda x: (x, x%2 == 0), range(11)) ) #mmmmmm

{0: True,
 1: False,
 2: True,
 3: False,
 4: True,
 5: False,
 6: True,
 7: False,
 8: True,
 9: False,
 10: True}

In [254]:
fruits_dict = dict([ # One dict
    (1,'apple'), 
    (2,'banana')
])
fruits_dict

{1: 'apple', 2: 'banana'}

In [255]:
skills_dict = dict([ # A nested dict
    ('sk1', {'name': 'python', 'points': 100}), 
    ('sk2', {'name': 'django', 'points': 80})
])
skills_dict

{'sk1': {'name': 'python', 'points': 100},
 'sk2': {'name': 'django', 'points': 80}}

In [256]:
skills_dict= {'sk1': {'name': 'python', 'points': 100}, 'sk2':{'name': 'django', 'points': 80}}
skills_dict

{'sk1': {'name': 'python', 'points': 100},
 'sk2': {'name': 'django', 'points': 80}}

In [257]:
skills_dict['sk1']

{'name': 'python', 'points': 100}

In [258]:
skills_dict['sk1']['name']

'python'

In [259]:
skills_dict['sk3'] = {'name': 'scada', 'points': 10, 'since':2010}
skills_dict

{'sk1': {'name': 'python', 'points': 100},
 'sk2': {'name': 'django', 'points': 80},
 'sk3': {'name': 'scada', 'points': 10, 'since': 2010}}

In [260]:
for k, info in skills_dict.items():
    print("\nSkill ID:", k)
    
    for x in info:
        print(x + ':', info[x])

Skill ID: sk1
name: python
points: 100

Skill ID: sk2
name: django
points: 80

Skill ID: sk3
name: scada
points: 10
since: 2010

In [273]:
skill = ['sk1', 'sk2', 'sk3']
name = ['scada', 'python', 'django']
points = [100, 90, 80]

In [274]:
dict(zip(skill, name)) #Solo pasando clave y valor

{'sk1': 'scada', 'sk2': 'python', 'sk3': 'django'}

In [281]:
team_one = {'name': 'John', 'last_name': 'Doe', 'job': 'Python Consultant'}
team_two = {'name': 'Jane', 'last_name': 'Doe', 'job': 'Community Manager'}

for (k1, v1), (k2, v2) in zip(team_one.items(), team_two.items()):
    print(k1, '->', v1)
    print(k2, '->', v2)

name -> John
name -> Jane
last_name -> Doe
last_name -> Doe
job -> Python Consultant
job -> Community Manager

In [283]:
dict_a = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]
list( map(lambda x : x['name'], dict_a) )

['python', 'java']

In [284]:
list( map(lambda x : x['points']*10,  dict_a) )

[100, 80]

In [285]:
list( map(lambda x : x['name'] == "python", dict_a) )

[True, False]

In [287]:
list( filter(lambda x : x['name'] == 'python', dict_a) )

[{'name': 'python', 'points': 10}]