In [129]:
def cube(x):
    return x**3

def add_items(x, y):
    return x + y

def evens(x):
    return x % 2 == 0

def odds(x):
    return x % 2 != 0

In [130]:
lista1 = list( range(8) )
lista1

[0, 1, 2, 3, 4, 5, 6, 7]

In [131]:
list( map(cube, lista1) )

[0, 1, 8, 27, 64, 125, 216, 343]

In [132]:
list( map(add_items, lista1, lista1) )

[0, 2, 4, 6, 8, 10, 12, 14]

In [133]:
lista1 + lista1 # =P

[0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7]

In [134]:
list( filter(evens, lista1) )

[0, 2, 4, 6]

In [135]:
list( filter(odds, lista1) )

[1, 3, 5, 7]

In [136]:
import functools
import itertools
import operator

In [137]:
functools.reduce(add_items, lista1)

28

In [138]:
functools.reduce(lambda x,y: x+y, lista1)

28

In [139]:
functools.reduce(operator.add, lista1)

28

In [140]:
lista1.pop(0)
functools.reduce(operator.mul, lista1)

5040

In [141]:
list( itertools.accumulate(lista1, lambda x,y: x+y) )

[1, 3, 6, 10, 15, 21, 28]

In [142]:
#anonymous function.Can take any number of arguments, but can only have one expression.
funcadd = lambda a,b: a + b

In [143]:
funcadd(20,3)

23

In [144]:
def myfunc(n):
    return lambda a : a * n

In [145]:
mydoubler = myfunc(2) #n
mydoubler(11) #a

22

In [146]:
mytripler = myfunc(3) #n
mytripler(11) #a

33

In [148]:
list( map(lambda x : x*2, [1, 2, 3, 4]) )

[2, 4, 6, 8]

In [155]:
reduce(lambda x,y: x+y, [1, 2, 3, 4])

10

In [156]:
list_a = [1, 2, 3]
list_b = [10, 20, 30]

list( map(lambda x, y: x + y, list_a, list_b) )

[11, 22, 33]