In [22]:
conjunto = set()
conjunto = {1,2,3,4, 'hi', 4,3,2,1, -5, 5, 'a'}
conjunto

{-5, 1, 2, 3, 4, 5, 'a', 'hi'}

In [23]:
conjunto.add(-4) # No son ordenadas
conjunto

{-4, -5, 1, 2, 3, 4, 5, 'a', 'hi'}

In [24]:
-4 in conjunto

True

In [25]:
-4 not in conjunto

False

In [26]:
list1 = [1,2,3,4,4,3,2,1] 
conj1 = set(list1) # Valores únicos!!!
conj1

{1, 2, 3, 4}

In [27]:
list2 = list(conj1)
list2

[1, 2, 3, 4]

In [28]:
s = "Al pan pan y al vino vino" # De nuevo, son valores únicos!!!
cj = set(s)
cj

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}

In [29]:
#set no soporta append, index, count